<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	This Template is responsible for creating a table of domain objects.

	If you modify this template, do not forget to change the overwrite settings
	in /Configuration/ExtensionBuilder/settings.yaml:
	  Resources:
		Private:
		  Templates:
			List.html: keep

	Otherwise your changes will be overwritten the next time you save the extension in the extension builder

	<f:section name="content">


		<f:flashMessages />

		<table id="routen-list"  class="tx_skitourenroutenlist" >
		   <thead>
			<tr>
				<th data-column-id="routenname" ><f:translate key="tx_skitourenroutenlist_domain_model_route.routenname" /></th>
				<th data-column-id="lawinengefahr" align="center" title="<f:translate key='tx_skitourenroutenlist_domain_model_route.lawinengefahr' />">LG</th>
				<th data-column-id="gesamtanspruch" ><f:translate key="tx_skitourenroutenlist_domain_model_route.gesamtanspruch" /></th>
				<th  data-column-id="skitechnischebewertung" ><f:translate key="tx_skitourenroutenlist_domain_model_route.skitechnischebewertung" /></th>
				<th  data-column-id="hoehenmeter" data-type="numeric" ><f:translate key="tx_skitourenroutenlist_domain_model_route.hoehenmeter" /></th>
				<th data-column-id="gehzeit" ><f:translate key="tx_skitourenroutenlist_domain_model_route.gehzeit" /></th>
				<th data-column-id="schoenheit" ><f:translate key="tx_skitourenroutenlist_domain_model_route.schoenheit" /></th>
				<th data-column-id="beliebtheit" ><f:translate key="tx_skitourenroutenlist_domain_model_route.beliebtheit" /></th>
				<th data-column-id="hangexposition"><f:translate key="tx_skitourenroutenlist_domain_model_route.hangexposition" /></th>
			</tr>
		 </thead>
			<f:for each="{routes}" as="route">
				<tr>
					<td class="text-left"><f:link.action action="show" arguments="{route : route}"> {route.routenname}</f:link.action></td>
					<td class="text-center"><f:link.action action="show" arguments="{route : route}"> {route.lawinengefahr}</f:link.action></td>
					<td class="text-center"><f:link.action action="show" arguments="{route : route}"> {route.gesamtanspruch}</f:link.action></td>
					<td class="text-center"><f:link.action action="show" arguments="{route : route}"> {route.skitechnischebewertung}</f:link.action></td>
					<td class="text-center"><f:link.action action="show" arguments="{route : route}"> {route.hoehenmeter}</f:link.action></td>
					<td class="text-center"><f:link.action action="show" arguments="{route : route}"> {route.gehzeit}</f:link.action></td>
					<td class="text-center"><f:link.action action="show" arguments="{route : route}"> {route.schoenheit}</f:link.action></td>
					<td class="text-center"><f:link.action action="show" arguments="{route : route}"> {route.beliebtheit}</f:link.action></td>
					<td class="text-center"><f:link.action action="show" arguments="{route : route}"> {route.hangexposition}</f:link.action></td>
				</tr>
			</f:for>
		</table>
<script>
	$(function() {
		$("#routen-list").bootgrid();
		$("#routen-list").bootgrid("search",'');

	});
</script>
	</f:section>
</html>