<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	This Template is responsible for creating a table of domain objects.

	If you modify this template, do not forget to change the overwrite settings
	in /Configuration/ExtensionBuilder/settings.yaml:
	  Resources:
		Private:
		  Templates:
			List.html: keep

	Otherwise your changes will be overwritten the next time you save the extension in the extension builder

	<f:section name="content">
		<table id="routen-list"  class="tx_skitourenroutenlist" >
		   <thead>
			<tr>
				<th data-column-id="routenname" ><f:translate key="tx_skitourenroutenlist_domain_model_route.routenname" /></th>

				<th data-column-id="gesamtanspruch" align="center" >Anspruch</th>
				<th  data-column-id="skitechnischebewertung" >Ski</th>
				<th  data-column-id="hoehenmeter" data-type="numeric" >HM</th>
				<th data-column-id="gehzeit" >Zeit</th>
				<th data-column-id="schoenheit" data-formatter="schoenheit">Sterne</th>
				<th data-column-id="beliebtheit" >Frequenz</th>
				<th data-column-id="hangexposition">Exposition</th>
				<th data-column-id="lawinengefahr">LG</th>
			</tr>
		 </thead>
			<f:for each="{routes}" as="route">
				<tr onclick='window.open("<f:uri.action extensionName=\"skitourenrouten\" action=\"show\" arguments=\"{route : route}\" />")' >
					<td>
					  <span>{route.routenname}</span>
					</td>

					<td>
						<f:switch expression="{route.gesamtanspruch}">
                   			<f:case value="10">1</f:case>
                   			<f:case value="15">1-2</f:case>
                   			<f:case value="20">2</f:case>
                   			<f:case value="25">2-3</f:case>
                   			<f:case value="30">3</f:case>
                   			<f:case value="35">3-4</f:case>
                   			<f:case value="40">4</f:case>
                   			<f:case value="45">4-5</f:case>
                   			<f:case value="50">5</f:case>
	        			</f:switch>
					</td>
					<td>{route.skitechnischebewertung}</td>
					<td>{route.hoehenmeter}</td>
					<td>{route.gehzeit}</td>
					<td>{route.schoenheit}</td>
					<td>{route.beliebtheit}</td>
					<td>{route.hangexposition}</td>
					<td>{route.lawinengefahr}</td>
					<td>{route.lawinengefahr}</td>
				</tr>
			</f:for>
		</table>
<script>
	$(function() {
		$("#routen-list").bootgrid({
			rowCount:[50,150,-1],
			formatters: {
				"schoenheit": function (column, row){
					for (var schoenheit in row) {
						if (row.hasOwnProperty(schoenheit)) {
							return '<span class="stern_ski stern" + row.schoenheit + "_ski">';
						}
					}
				}
			}
		});
		$("#routen-list").bootgrid("search",'');

	});
</script>
	</f:section>
</html>