<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	This Template is responsible for creating a table of domain objects.

	If you modify this template, do not forget to change the overwrite settings
	in /Configuration/ExtensionBuilder/settings.yaml:
	  Resources:
		Private:
		  Templates:
			List.html: keep

	Otherwise your changes will be overwritten the next time you save the extension in the extension builder

	<f:section name="content">


		<f:flashMessages />

		<table id="routen-list"  class="tx_skitourenroutenlist" >
		   <thead>
			<tr>
				<th data-column-id="routenname" ><f:translate key="tx_skitourenroutenlist_domain_model_route.routenname" /></th>

				<th data-column-id="gesamtanspruch" align="center" >Anspruch</th>
				<th  data-column-id="skitechnischebewertung" >Ski</th>
				<th  data-column-id="hoehenmeter" data-type="numeric" >HM</th>
				<th data-column-id="gehzeit" >Zeit</th>
				<th data-column-id="schoenheit" >Sterne</th>
				<th data-column-id="beliebtheit" >Frequenz</th>
				<th data-column-id="hangexposition">Exposition</th>
				<th data-column-id="lawinengefahr">LG</th>
			</tr>
		 </thead>
			<f:for each="{routes}" as="route">
				<tr>
					<td class="text-left">
					  <span>
					    <f:link.action action="show" extensionName="tx_skitourenrouten" pageUid="2392" arguments="{route : route}">
					  		   {route.routenname}
					    </f:link.action>
					  </span>
					</td>

					<td class="text-center" align="right"><f:link.action action="show" arguments="{route : route}"> <f:switch expression="{route.gesamtanspruch}">
                   <f:case value="10">1</f:case>
                   <f:case value="15">1-2</f:case>
                   <f:case value="20">2</f:case>
                   <f:case value="25">2-3</f:case>
                   <f:case value="30">3</f:case>
                   <f:case value="35">3-4</f:case>
                   <f:case value="40">4</f:case>
                   <f:case value="45">4-5</f:case>
                   <f:case value="50">5</f:case> 
	        </f:switch></f:link.action></td>
					<td class="text-center"><f:link.action action="show" arguments="{route : route}"> {route.skitechnischebewertung}</f:link.action></td>
					<td class="text-center"><f:link.action action="show" arguments="{route : route}"> {route.hoehenmeter}</f:link.action></td>
					<td class="text-center"><f:link.action action="show" arguments="{route : route}"> {route.gehzeit}</f:link.action></td>
					<td class="stern_ski  stern{route.schoenheit}_ski"><span> </span></td>
					<td class="text-center"><f:link.action action="show" arguments="{route : route}"> {route.beliebtheit}</f:link.action></td>
					<td class="text-center"><f:link.action action="show" arguments="{route : route}"> {route.hangexposition}</f:link.action></td>
					<td class="lawinengefahr lawinengefahr{route.lawinengefahr}"><span> </span></td>
					<td class="text-center"><f:link.action action="show" arguments="{route : route}"> {route.lawinengefahr}</f:link.action></td>
				</tr>
			</f:for>
		</table>
<script>
	$(function() {
		$("#routen-list").bootgrid();
		$("#routen-list").bootgrid("search",'');

	});
</script>
	</f:section>
</html>