<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	This Template is responsible for creating a table of domain objects.

	If you modify this template, do not forget to change the overwrite settings
	in /Configuration/ExtensionBuilder/settings.yaml:
	  Resources:
		Private:
		  Templates:
			List.html: keep

	Otherwise your changes will be overwritten the next time you save the extension in the extension builder

	<f:section name="content">
		<h1>Listing for Maps</h1>

		<f:flashMessages />

		<table  class="tx_skitourenroutenlist" >
			<tr>
				<th><f:translate key="tx_skitourenroutenlist_domain_model_maps.name" /></th>
				<th><f:translate key="tx_skitourenroutenlist_domain_model_maps.ean" /></th>
				<th><f:translate key="tx_skitourenroutenlist_domain_model_maps.kartenreihe" /></th>
				<th><f:translate key="tx_skitourenroutenlist_domain_model_maps.kartennummer" /></th>
				<th><f:translate key="tx_skitourenroutenlist_domain_model_maps.typ" /></th>
				<th><f:translate key="tx_skitourenroutenlist_domain_model_maps.massstab" /></th>
				<th><f:translate key="tx_skitourenroutenlist_domain_model_maps.preis" /></th>
				<th><f:translate key="tx_skitourenroutenlist_domain_model_maps.verlag" /></th>
				<th><f:translate key="tx_skitourenroutenlist_domain_model_maps.link" /></th>
				<th> </th>
				<th> </th>
			</tr>

			<f:for each="{mapss}" as="maps">
				<tr>
					<td><f:link.action action="show" arguments="{maps : maps}"> {maps.name}</f:link.action></td>
					<td><f:link.action action="show" arguments="{maps : maps}"> {maps.ean}</f:link.action></td>
					<td><f:link.action action="show" arguments="{maps : maps}"> {maps.kartenreihe}</f:link.action></td>
					<td><f:link.action action="show" arguments="{maps : maps}"> {maps.kartennummer}</f:link.action></td>
					<td><f:link.action action="show" arguments="{maps : maps}"> {maps.typ}</f:link.action></td>
					<td><f:link.action action="show" arguments="{maps : maps}"> {maps.massstab}</f:link.action></td>
					<td><f:link.action action="show" arguments="{maps : maps}"> {maps.preis}</f:link.action></td>
					<td><f:link.action action="show" arguments="{maps : maps}"> {maps.verlag}</f:link.action></td>
					<td><f:link.action action="show" arguments="{maps : maps}"> {maps.link}</f:link.action></td>
					<td><f:link.action action="edit" arguments="{maps : maps}">Edit</f:link.action></td>
					<td><f:link.action action="delete" arguments="{maps : maps}">Delete</f:link.action></td>
				</tr>
			</f:for>
		</table>

		<f:link.action action="new">New Maps</f:link.action>
	</f:section>
</html>